<h2 class="border-bottom mb-2 pb-1">Por país</h2>
<div class="row pb-3 mb-2 border-bottom">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text" name="termino" [(ngModel)]="termino" class="form-control" placeholder="Ingresa país...">
        </form>
    </div>
</div>
<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises">
                    <td>{{ pais.alpha2Code }}</td>
                    <td><img [src]="pais.flags.png" alt="Bandera de {{ pais.name }}" class="img-table"></td>
                    <td>{{ pais.name }}</td>
                    <td>{{ pais.population | number }}</td>
                    <td><a [routerLink]="['/pais', pais.alpha2Code]">Ver...</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="hayError" class="alert alert-danger">
    No se encontró resultados con <b><i>{{ termino }}</i></b>
</div>